<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>商品一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>商品名 <span th:text="${product.name}">テスト商品</div></h1>
    <p>商品ID: <span th:text="${product.id}">xxxxxxx</span></p>
    <p>価格: <span th:text="${product.price}">1000</span>円</p>
    <p>在庫数: <span th:text="${product.stock}">10</span></p>
    <a th:href="@{/catalog/display-list}">商品一覧に戻る</a>
  </body>
</html>
